@import url("https://fonts.googleapis.com/css?family=Montserrat:400,400i,700");


:root {
    --background-color: #f1f1f1;
    --text-color: #000000;
    --primary-color: #58a6ff;
    --secondary-color: #f1f3f4;
    --border-color: #dcdcdc;
    --shadow-color: rgba(0, 0, 0, 0.1);
    --input-background: #f9f9f9;

}

body.light-mode {
    --background-color: #222;
    --text-color: #c9d1d9;
    --primary-color: #ab9ff2;
    --secondary-color: #222;
    --border-color: #30363d;
    --shadow-color: #1A1A1A;
    --input-background: #444;
}

/* Simple CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*,
s *::before,
*::after {
    box-sizing: border-box;
}


body {
    font-family: 'Montserrat', sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    overflow-x: hidden;
    /* Empêche le défilement horizontal */
}

i {
    color: var(--primary-color);
}

i:hover {
    color: grey;
    transform: scale(1.05);
}

/* 🟣 Barre de navigation en bas */
.navbar {
    position: fixed !important;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 9999 !important;
    height: 60px;
    background-color: var(--secondary-color);
    opacity: 0.9;
    border-top: 1px solid var(--border-color);
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0 -2px 5px var(--shadow-color);
    z-index: 1000;
}

/* 🟢 Style des liens */
.navbar a {
    color: var(--primary-color);
    text-decoration: none;
    font-size: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: color 0.3s;
}

/* Ajout d'un effet au survol */
.navbar a:hover {
    color: var(--text-color);
}

/* 🔵 Icônes des liens */
.navbar a span {
    font-size: 18px;
}

/* ✨ Effet tactile sur les boutons */
button:active,
.navbar a:active {
    transform: scale(0.95);
    transition: transform 0.1s;
}


header {
    margin-top: 20px;
    margin-left: 20px;
    color: grey;
}

.hamburger-menu {
    width: 40px;
    height: 20px;
    top: 20px;
    left: 20px;
    position: fixed;
    color: grey;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
}

.hamburger-menu span {
    width: 100%;
    height: 2px;
    background-color: grey;
}

span {
    text-decoration: none;
    color: var(--secondary-color);
}

#momentum-indicator {
    position: absolute;
    top: 0;
    right: 0;
    width: 12px;
    height: 12px;
    background-color: gray;
    /* Couleur par défaut */
    border-radius: 50%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s ease;
}


#partner {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
    flex-wrap: wrap;
}

#partner img {
    width: 100%;
    max-width: 100px;
    height: auto;
    flex: 1 1 calc(30% - 20px);
    /* Flexibilité pour 3 images par ligne avec espacement */
    object-fit: cover;
    transition: transform 0.3s ease;
}

#partner img:hover {
    transform: scale(1.05);
}


h1 {
    color: grey;
    margin-bottom: 20px;
    text-align: center;
    margin: 20;
}

h2 {
    text-align: center;
}

#intro {
    padding: 2rem;
    margin: 1rem auto;
    width: 100%;
    max-width: 950px;
    transform: translateY(-5px);
    margin-top: 20px;
    text-align: center;
}

#in {
    display: block;
    margin: 0 auto;
    width: 100%;
    max-width: 150px;
    height: auto;
}

@media (max-width: 768px) {

    section,
    #chart-container,
    #result {
        max-width: 100%;
        width: 95%;
        margin: auto;
    }

    h1,
    h2 {
        font-size: 20px;
    }
}

#splash-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--background-color);
    color: var(--text-color);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    z-index: 9999;
    transition: opacity 0.5s ease-out;
}


section {
    padding: 2rem;
    margin: 1rem auto;
    width: 90%;
    max-width: 950px;
    border-radius: 12px;
    background-color: var(--input-background);
    transform: translateY(-5px);
    box-shadow: 0 2px 8px var(--shadow-color);
    border: 1px solid var(--border-color);
    margin-top: 20px;
}

/* Style de base pour la section */
section {
    overflow: hidden;
    /* Cache le contenu qui dépasse */
    transition: height 0.3s ease;
    /* Animation fluide */
}

#feature {
    /*background: linear-gradient(135deg, var(--primary-color), #6b5aed);*/
    background-color: var(--input-background);
    color: var(--text-color);
    padding: 40px 20px;
    border-radius: 12px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    max-width: 950px;
    margin: 30px auto;
    animation: fadeIn 1s ease-in-out;
}

#feature,
h2 {
    font-size: 18px;
    margin-bottom: 15px;
}

.subtitle {
    font-size: 12px;
    opacity: 0.9;
    margin-bottom: 20px;
}

.features-list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.features-list li {
    font-size: 14px;
    background: var(--shadow-color);
    padding: 10px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-weight: 500;
    transition: transform 0.2s, background 0.3s;
}

.features-list li:hover {
    transform: scale(1.05);
    background: rgba(255, 255, 255, 0.2);
}

.wallet-info {
    margin-top: 20px;
    font-style: italic;
    font-size: 16px;
    opacity: 0.9;
}

.cta-text {
    font-size: 18px;
    font-weight: bold;
    margin-top: 20px;
}

/* Animation d'apparition */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}
#crash-detector {
    background: linear-gradient(135deg, var(--primary-color), #6b5aed);
    color: var(--text-color);
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    max-width: 600px;
    margin: 30px auto;
}
#pub {
    display: block;
    margin: 0 auto;
    width: 95%;
    max-width: 600px;
    height: auto;
    margin-top: 10px;
    margin-bottom: 20px;
    border-radius: 12px;
}

img {
    border-radius: 12px;

}

.ma-values {
    font-size: 18px;
    margin-bottom: 15px;
}

#alert-box {
    background: red;
    color: white;
    padding: 10px;
    border-radius: 5px;
    font-weight: bold;
    display: none;
}

.hidden {
    display: none;
}

/* Alerte visuelle sur le logo */
.logo-alert {
    position: absolute;
    top: -5px;
    right: -5px;
    background: red;
    color: white;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    font-size: 12px;
    display: none;
}

/* Style du popup */
.popup {
    display: none;
    /* Caché par défaut */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--background-color);
    /* Fond semi-transparent */
    z-index: 1000;
    /* Pour s'assurer qu'il est au-dessus des autres éléments */
    justify-content: center;
    align-items: center;
}

/* Contenu du popup */
.popup-content {
    background-color: var(--background-color);
    padding: 20px;
    border-radius: 12px;
    max-width: 800px;
    /* Largeur maximale pour le contenu */
    width: 90%;
    position: relative;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow-y: auto;
    /* Ajoute un défilement si le contenu est trop long */
    max-height: 90vh;
    /* Hauteur maximale pour éviter de dépasser l'écran */
}

/* Bouton pour fermer le popup */
.close-popup {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 24px;
    cursor: pointer;
    color: var(--primary-color);
}

.close-popup:hover {
    color: grey;
}

/* Style du lien pour ouvrir le popup */
.open-popup {
    cursor: pointer;
    color: var(--primary-color);
    text-decoration: none;
}

/* Style des liens dans le popup */
.popup-content a {
    color: var(--primary-color);
    text-decoration: none;
}

.popup-content a:hover {
    color: grey;
    text-decoration: none;
}

canvas {
    width: 100%;
    max-width: 650px;
    margin: 20px 20px;
    display: block;
}
#cryptoChart {
    width: 100%;
    max-width: 1050px;
    height: 120vh;
    max-height: 600px;
    position: relative;
    display: block;
    border-radius: 12px;
    overflow: hidden;
    background-color: var(--background-color);
}
@media (max-width: 768px) {
    #cryptoChart {
        /* Augmenter la hauteur sur les petits écrans */
        height: 170vh;
        max-height: none;
    }
}

#chart-container {
    width: 100%;
    max-width: 1050px;
    height: 120vh;
    max-height: 600px;
    position: relative;
    display: block;
    border-radius: 12px;
    overflow: hidden;
    background-color: var(--background-color);
}

#chart {
    width: 100%;
    max-width: 950px;
    border-radius: 12px;
    overflow: hidden;
}

input {
    width: 300px;
    padding: 10px;
    border: 1px solid var(--border-color);
    border-radius: 12px;
    background-color: var(--input-background);
    color: var(--text-color);
    margin-top: 20px;
}

button,
select {
    padding: 10px 20px;
    margin-top: 20px;
    background-color: var(--secondary-color);
    color: var(--text-color);
    border: 1px solid var(--border-color);
    border-radius: 12px;
    cursor: pointer;
    transition: background-color 0.3s;
}


button:hover {
    background-color: var(--primary-color);
    color: var(--text-color);
}

.start {
    background-image: linear-gradient(to right, #ab9ff2, #58a6ff);
    color: #f1f1f1;
}

.start:hover {
    background-image: linear-gradient(to right, #feb47b, #ff7e5f);
    color: #f1f1f1;
    transform: scale(1.05);
}

#result {
    margin-top: 20px;
    padding: 20px;
    border-radius: 12px;
    background-color: var(--background-color);
    border: 1px solid var(--border-color);
    width: 100%;
    max-width: 950px;
}

.result p {
    opacity: 0;
    transform: translateY(-10px);
    transition: all 0.4s ease;
}

.result.show p {
    opacity: 1;
    transform: translateY(0);
}

.result p:nth-child(1) {
    transition-delay: 0.2s;
}

.result p:nth-child(2) {
    transition-delay: 0.3s;
}

.result p:nth-child(3) {
    transition-delay: 0.4s;
}

.result p:nth-child(4) {
    transition-delay: 0.5s;
}

.result p:nth-child(5) {
    transition-delay: 0.6s;
}

.result p:nth-child(6) {
    transition-delay: 0.7s;
}

.result p:nth-child(7) {
    transition-delay: 0.8s;
}

.result p:nth-child(8) {
    transition-delay: 0.9s;
}

.result p:nth-child(9) {
    transition-delay: 1s;
}

.result p:nth-child(10) {
    transition-delay: 1.1s;
}

.result p:nth-child(11) {
    transition-delay: 1.2s;
}

.result p:nth-child(12) {
    transition-delay: 1.3s;
}


.percentage {
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 12px;
    display: inline-block;
}

.theme-toggle {
    position: fixed;
    top: 0px;
    right: 20px;
    padding: 10px 15px;
    border-radius: 12px;
    cursor: pointer;
    background-color: var(--secondary-color);
    color: var(--text-color);
    border: 1px solid var(--border-color);
    box-shadow: 0 2px 5px var(--shadow-color);
    transition: background-color 0.3s, color 0.3s;
}

.theme-toggle:hover {
    background-color: var(--primary-color);
    color: var(--text-color);
}


.red {
    color: #fff;
    background-color: #ff4d4d;
}

.orange {
    color: #fff;
    background-color: #ffa500;
}

.blue {
    color: #fff;
    background-color: #3b82f6;
}

.green {
    color: #fff;
    background-color: #34d399;
}

a {
    background-image: linear-gradient(to right, #ab9ff2, #58a6ff);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;

    font-weight: bold;
    text-decoration: none;
    /* Optionnel : pour enlever le soulignement par défaut des liens */
}

a:hover {
    background-image: linear-gradient(to right, #feb47b, #ff7e5f);
    /* Changement de gradient au survol */
}

/* Conteneur principal centré */
.share-container {
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

/* Bouton principal centré */
#shareButton {
    background-color: var(--background-color);
    border: none;
    border-radius: 12px;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 0 auto;
    /* Centrage horizontal */
}

#shareButton:hover {
    background-color: #ddd;
}

/* Popup de partage (ouvre vers le haut) */
.share-popup {
    position: absolute;
    bottom: 80px;
    /* Positionne le popup au-dessus */
    right: 50;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 12px;
    box-shadow: 0 4px 8px #0d3b66;
    display: none;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    z-index: 1000;
}

.share-popup button,
.share-popup a {
    width: 100%;
    padding: 10px;
    font-size: 18px;
    text-align: center;
    border: none;

    color: #333;
    border-radius: 12px;
    cursor: pointer;
    text-decoration: none;
}

.share-popup button:hover,
.share-popup a:hover {
    background-color: #ddd;
}

/*bulle info scam*/
.info-container {
    position: relative;
    display: inline-block;
}

.info-icon {
    background-color: #007BFF;
    color: white;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
}

.info-tooltip {
    visibility: hidden;
    width: 300px;
    background-color: #f9f9f9;
    color: #333;
    text-align: left;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;
    font-size: 12px;
}

.info-container:hover .info-tooltip {
    visibility: visible;
}

footer {
    width: 100%;
    height: auto;
    /*
    background-image: url('https://svgsilh.com/svg/1254485.svg');
    background-repeat: no-repeat;
    background-size: cover;  
    background-position: center; */
    color: grey;
    padding: 2rem 1rem;
    text-align: center;
}

.footer-content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.footer-section {
    margin: 1rem;
}

.footer-section h3 {
    margin-bottom: 1rem;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 0.5rem;
}

.footer-section ul li a {
    color: var(--primary-color);
    text-decoration: none;
}

.footer-section ul li a:hover {
    color: grey;
}